html
    head
        title projet web jerem.v
        link(rel="stylesheet",href="styles.css")

    body
        ul
            div(class='encadretitre')
                h2 www.boutiqueenligne.com
                h2 Projet Jeremie VANCUTSEM
                br

            p Il y a eu une erreur
            a(href="/" class='button') Retour à la page d'acceuil
